@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
}



:root {
    --dark: #388087;
    --dark-light: #388087;
    --middle-light: #BADFE7;
    --light-green: #C2EDCE;
    --light: #F6F6f2;

    --sec-pad: 150px 0;
    --sec-pad-2:30px 0;
    --mw: 800px;
    --w: 90%;
    --gap: 2em;


}

h1,h2,h3 {
    margin: 0;
    line-height: 1;
    text-transform: uppercase;
}

.header {
    padding: var(--sec-pad);
    background-color: var(--light);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.brief-introduction {
    padding: var(--sec-pad);
    background-color: var(--dark);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.brief-introduction > h3 {
    color: var(--light);
    margin-bottom: 80px;
}

.brief-introduction > p {
    margin-top: 50px;
    color: var(--light);
    margin: 50px;
}

.description {
    padding: var(--sec-pad);
    background-color: var(--middle-light);
}

.list-of-accomplishments {
    padding: var(--sec-pad);
    background-color: var(--light-green);
}

.closing-thoughts {
    padding: var(--sec-pad);
    background-color: var(--dark-light);
}

.footer{
    padding: var(--sec-pad-2);
    background-color: var(--light);
}