body {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 100;
    font-style: normal;
    background: #f0dfaf;
    margin: 0;
}

.container {
    display: flex;
    border: solid 1px black;
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px;
}

.header {
    flex: 1;
    border: solid 1px green;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: xx-large;

}

.introduction {
    flex: 2;
    padding: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:100;
    font-size: larger;
}

.list {
    flex: 3;
    display: flex;

}

.odd-ball {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    font-size: larger;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul > li {
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    font-size: larger;
    font-style: italic;

}


.closing {
    flex: 4;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    font-size: larger;
}

.footer {
    flex: 5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    font-size: larger;
    display: flex;
    flex-direction: column;
    align-items: center;
}